.home .musuemimage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.home .musuemimage img{
    width: 80%;
    height: 400px;
}
.musuempage{
    margin: 0px 0px 0px 10px;
}
.musuempage p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.679);
    margin: 10px 0px 5px 0px;
}
.musuempage h3{
    font-size: 35px;
    margin: 5px 0px 0px 0px;
}
.musuempage h4{
    font-size: 23px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
    color: rgba(255, 71, 58, 1);
}
.musuempage .homebut{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.musuempage  .homeloc{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    color: rgba(255, 71, 58, 1);
}
.musuempage  .homeloc svg{
    margin: 0px 5px;
}


@media (max-width:800px) {
    .home .musuemimage{
        width: 100%;
        margin-top: 0px;
    }
    .home .musuemimage img{
        width: 100%;
        height: auto;
    }
    .musuempage{
        margin: 0px 0px 0px 10px;
    }
    .musuempage p{
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.679);
        margin: 10px 0px 5px 0px;
    }
    .musuempage h3{
        font-size: 25px;
        margin: 5px 0px 0px 0px;
    }
    .musuempage h4{
        font-size: 23px;
        font-weight: 500;
        margin: 10px 0px 10px 0px;
        color: rgba(255, 71, 58, 1);
    }
    .musuempage .homebut{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px 0px 0px;
    }
    .musuempage .homebut button{
        width: 300px;
        padding: 15px 0px;
        background-color: rgba(255, 71, 58, 1);
        border: 1px solid rgba(255, 71, 58, 1);
        color: white;
        font-size: 16px;
        font-weight: 400;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
    .musuempage  .homeloc{
        display: flex;
        justify-content: space-between;
        margin: 30px 0px 0px 0px;
        color: rgba(255, 71, 58, 1);
    }
    .musuempage  .homeloc svg{
        margin: 0px 5px;
    }
    
}